.grid-container {
    display: grid;
    place-items: center;
    /* align-content: start; */
    gap: 5px;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    padding: 2em;
    background-color: #ccc;
}
.box {
    width: 100px;
    height: 100px;
    background-color: lightsteelblue;
}
.grid-container > input {
    place-self: start;
}
.grid-container > button {
    justify-self: end;
}
