* {
    box-sizing: border-box;
}
body {
    margin: 0
}
.grid-container{
    display: grid;

    /* 1 */
    /* grid-template-columns: repeat(4, 100px);
    width: max-content;
     */
    /* 2 */
    /* grid-template-columns: repeat(auto-fit, 100px); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: 60px repeat(auto-fit, minmax(100px, 1fr)) 60px; */
    /*  */
    /* 3 */
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    
    grid-auto-rows: 100px;
    /* grid-auto-flow: dense; */
    gap: 10px;
    
    padding: 60px;
    margin: 0 auto;
}
.item{
    background-color: lightskyblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2em;
    padding: 15px;
}

/* .item:nth-child(5n){
    grid-column: span 2;
    grid-row: span 2;
    background-color: lightgoldenrodyellow;
} */

/* .item3 {
    grid-column: -3;
} */