* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #dddddd;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(9, 7vw);
    grid-template-rows: repeat(9, 7vw);

    /* background-color: white; */
    width: max-content;
    margin: 15vh auto;
    border: 2px solid #cccccc;
}

.item{
    /* border-radius: 50%; */
    /* z-index: 10; */
}

.item1 {
    grid-column: 2 / span 4;
    grid-row: 2 / span 4;
    background-color: rgba(156, 215, 235, 0.6);
    /* z-index: 11; */
}

.item2 {
    grid-column: 3 / span 4;
    grid-row: 3 / span 4;
    background-color: rgba(255, 255, 255, 0.4);
}

.item3 {
    grid-area: 4 / 4 / 8 / 8;
    background-color: rgba(214, 173, 230, 0.6);
}

.item4 {
    grid-area: 5 / 5 / span 4 / span 4;
    background-color: rgba(255, 255, 255, 0.4);
}

.entire-grid {
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    /* Alternate syntax: grid-area: row-start / column-start / row-end / column-end; */
    /* grid-area: 1 / 1 / -1 / -1; */
}

img {
    width: 100%;
}